/* Intro */

#intro {
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  min-height: 100vh;

  #intro h1 {
    font-size: 5rem;
    line-height: 1;
  }

  p {
    font-size: 1.25rem;
    font-style: italic;
    margin-top: -0.25rem;
    text-align: center;
  }

header {
    margin-top: -20rem;

    .logo {
      opacity: 0;
      visibility: hidden;
    }
  }

  hidden {

    opacity: 0;
    visibility: hidden;

header {
      .logo {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  body.is-preload & {

    opacity: 0;

    &:not(.hidden) {
      & + #header + #nav {
        opacity: 0;
      }
    }
  }


    min-height: 90vh;

    p {
      br {
        display: none;
      }
    }

   #header {
      margin-top: -14rem;
    }


    h1 {
      font-size: 3.25rem;
      line-height: 1.1;
      margin-bottom: 0.5px;
    }

    p {
      font-size: 1rem;
      margin-top: 0rem;
    }

    .actions {
      display: none;
    }
  }

#intro {
  color: #ffffff;
  padding: 8rem 4rem 6rem 4rem;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  min-height: 100vh;
}

body.is-preload #intro {
  opacity: 1;
}

body.is-preload #intro:not(.hidden) + #header + #nav {
  -moz-transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
