<article class="post featured">
  <header class="major">
    <span class="date">April 25, 2017</span>
    <hr>
    <h3 class="massive"><a href="#">And this is a<br />
      massive headline</a></h3>
    <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
      facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
      amet nullam sed etiam veroeros.</p>
  </header>
  <a href="#" class="image main"><img src="assets/pic01.png" alt="" /></a>
  <ul class="actions special">
    <li><a href="#" class="button large">Full Story</a></li>
  </ul>
</article>
<table class="posts">
  <tr>
  <td>
    <header>
      <span class="date">April 24, 2017</span>
      <h3><a href="#">Sed magna<br />
        ipsum faucibus</a></h3>
    </header>
    <a href="#" class="image fit"><img src="assets/pic02.jpeg" alt="" /></a>
    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
    <ul class="actions special">
      <li><a href="#" class="button">Full Story</a></li>
    </ul>
  </td>
  <td>
    <header>
      <span class="date">April 22, 2017</span>
      <h3><a href="#">Primis eget<br />
        imperdiet lorem</a></h3>
    </header>
    <a href="#" class="image fit"><img src="assets/pic03.jpeg" alt="" /></a>
    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
    <ul class="actions special">
      <li><a href="#" class="button">Full Story</a></li>
    </ul>
  </td>
  </tr>
  <tr>
    <td>
    <header>
      <span class="date">April 18, 2017</span>
      <h3><a href="#">Ante mattis<br />
        interdum dolor</a></h3>
    </header>
    <a href="#" class="image fit"><img src="assets/pic04.jpeg" alt="" /></a>
    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
    <ul class="actions special">
      <li><a href="#" class="button">Full Story</a></li>
    </ul>
    </td>
  <td>
    <header>
      <span class="date">April 14, 2017</span>
      <h3><a href="#">Tempus sed<br />
        nulla imperdiet</a></h3>
    </header>
    <a href="#" class="image fit"><img src="assets/pic05.webp" alt="" /></a>
    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
    <ul class="actions special">
      <li><a href="#" class="button">Full Story</a></li>
    </ul>
  </td>
  </tr>
  <tr>
    <td>
    <header>
      <span class="date">April 11, 2017</span>
      <h3><a href="#">Odio magna<br />
        sed consectetur</a></h3>
    </header>
    <a href="#" class="image fit"><img src="assets/pic06.webp" alt="" /></a>
    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
    <ul class="actions special">
      <li><a href="#" class="button">Full Story</a></li>
    </ul>
    </td>
  <td>
    <header>
      <span class="date">April 7, 2017</span>
      <h3><a href="#">Augue lorem<br />
        primis vestibulum</a></h3>
    </header>
    <a href="#" class="image fit"><img src="assets/pic07.jpg" alt="" /></a>
    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
    <ul class="actions special">
      <li><a href="#" class="button">Full Story</a></li>
    </ul>
  </td>
  </tr>
</table>
